<article
    _="install DateParse(starts: {{event.course.starts}})"
    id="{{event.course.id}}"
    class="course"
    tabindex="0"
>
    <div class="course-calendar">
        <div class="calendar">
            <p class="day"></p>
            <p class="date"></p>
        </div>
    </div>
    <div class="course-details">
        <h1>{{event.course.title}}</h1>
        {%if event.course.state != 'available' %}
        <div class="state {{event.state}}">
            {% autoescape false %}
            <svg
                fill="none"
                viewBox="0 0 24 24"
                height="16"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
            >
                {{event.course.icon}}
            </svg>
            {% endautoescape %}
            <p>{{event.course.state|capitalize}}</p>
        </div>

        {% endif %} {% autoescape false %} {{event.course.description}} {%
        endautoescape %}
    </div>
</article>
