<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}ECS Events Registration{%endblock%}</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/main.css')}}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
            rel="stylesheet"
        />
        {% block additional_css %} {%endblock%}
    </head>
    <body _="on keyup[key is 'Escape'] trigger closeSidebar end">
        {% include 'shared/nav.html' %}
        <main>
            <section class="main-container">
                {% block main_content %} {% endblock %}
            </section>
            {% include 'shared/partials/toast.html' %}
        </main>
        <script
            type="module"
            src="{{ url_for('static', filename='js/main.js') }}"
        ></script>
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <script src="{{url_for('static', filename='js/new-event.js')}}"></script>
        <script src="{{url_for('static', filename='js/json-enc-local.js')}}"></script>
        <script
            type="text/hyperscript"
            src="{{url_for('static', filename='hs/dateParse._hs') }}"
        ></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
        <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        {% block additional_js %} {% endblock %}
    </body>
</html>
