<section id="user-search">
    <select
        class="select select--narrow"
        tabindex="0"
        hx-get="/admin/users"
        name="usertype_id"
        hx-trigger="change"
        hx-target="#user-data--result"
        hx-swap="innerHTML"
    >
        <option value="0" selected>All Roles</option>

        {% for option in options %}
        <option value="{{option.value}}">{{option.text}}</option>
        {% endfor %}
    </select>
    {{render_partial('shared/form-fields/search.html', target='
    <tr />
    ', container="#user-data--result", placeholder="Search for a user...")}}
</section>
<table id="user-data--table">
    <thead>
        <th>Name</th>
        <th>Location</th>
        <th>Email</th>
        <th>Role</th>
    </thead>
    <tbody id="user-data--result">
        {% if users %} {{render_partial("users/partials/user-table-rows.html",
        users=users, options=options)}} {% endif %}
    </tbody>
</table>
