<h1>{{event.title}}</h1>
<hr />

<!-- prettier ignore -->
{% if event.available > 0 %} {%if event.state == 'registered' and event.state !=
'attended' %} {{render_partial('events/partials/cancel-form.html',
event_id=event.id)}} {% elif event.state == 'available' and event.state !=
'attended' %} {{ render_partial('events/partials/registration-form.html',
event_id=event.id) }} {% endif %} {% elif event.available == 0 and event.state
== 'registered' %} {{render_partial('events/partials/cancel-form.html',
event_id=event.id)}} {% else %} This event is full {% endif %}
<hr />
<section id="event--details">
    <time>
        {% autoescape false %}
        <svg
            fill="none"
            viewBox="0 0 24 24"
            height="24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
        >
            {{icons.clock}}
        </svg>
        {% endautoescape %} {{event.starts}} - {{event.ends}}
    </time>
    <span id="event--size">
        {% autoescape false %}
        <svg
            fill="none"
            viewBox="0 0 24 24"
            height="24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
        >
            {{icons.user}}
        </svg>
        {% endautoescape %} {{event.available}}
    </span>
    <span id="event--location">
        {% autoescape false %}
        <svg
            fill="none"
            viewBox="0 0 24 24"
            height="24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
        >
            {{icons.pin}}
        </svg>
        {% endautoescape %} {{event.location.name}}
    </span>

    <div>
        <h2>Presenters</h2>
        <ul>
            {% for presenter in event.presenters %}
            <li><a href="mailto:{{presenter.email}}">{{presenter.name}}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% if event.state != 'available' and event.links|length > 0 %}
    <div>
        <h2>Links</h2>
        <ul>
            {% for link in event.links %}
            <li><a href="{{link.uri}}">{{link.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
