/* TODO: Organize this file */
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('/fonts/Roboto-Italic.ttf') format('truetype');
}

:root {
    /* Colors */
    --site-gray: #c5c6c7;
    --accent-blue: #0098fa;
    --accent-red: #e9164f;
    --accent-green: #32c192;
    --site-dark: #1f2833;
    --text-white: #f0ecec;
    
    /* shadow */
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --hover-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --active-shadow: inset rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --left-shadow: rgba(0, 0, 0, 0.1) -20px 0 25px -5px,
    rgba(0, 0, 0, 0.04) -10px 0 10px -5px;
    /* interaction */
    --accent-active: #45a29e;
    --accent-hover: #2d3d50;
    --shadow-left-border: rgba(0, 0, 0, 0.1) 0px 10px 25px -5px,
    rgba(0, 0, 0, 0.04) -10px 0px 10px -5px;
}

body {
    color: #333;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Typography */
h1 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

p {
    margin-block-start: 0.75rem;
    margin-block-end: 0.5rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

b,
strong {
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
}

i,
em {
    font-family: 'Roboto Italic';
}

button:hover {
    cursor: pointer;
    background-color: var(--text-white);
    color: var(--site-dark);
}

button[type='submit']:focus {
    border-color: var(--site-dark);
}

button:disabled {
    background-color: var(--site-gray);
    border-color: var(--site-gray);
    pointer-events: none;
}

.btn-container--flex {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.btn {
    display: flex;
    font-weight: 700;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    width: 50%;
    height: 36px;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.125s all ease-in-out;
    border-style: none;
    color: var(--site-dark);
}

.btn:hover {
    box-shadow: var(--hover-shadow);
}

.btn:active {
    box-shadow: var(--active-shadow);
}

.btn--primary {
    background-color: var(--accent-blue);
    border-color: var(--accent-blue);
    color: var(--text-white)
}

.btn--cancel {
    background-color: var(--accent-red);
    border-color: var(--accent-red);
    color: var(--text-white)
}

.btn--secondary {
    background-color: var(--site-gray);
}

.btn--warn {
    background-color: var(--accent-red);
}

.btn--warn__small {
    border: none;
    color: var(--text-white);
    font-weight: bold;
    margin: 0;
    margin-right: 0.6rem;
    height: auto;
    width: auto;
}

/* left align the new event and new location buttons */
#btn--new-event, #btn--new-location {
    margin: 0;
}

.btn--close {
    background-color: transparent;
    border: 1px solid;
    border-color: transparent;
}

.btn--close:hover {
    cursor: pointer;
    border-color: var(--black);
}

a[role='button'] {
    border: 1px solid var(--accent-blue);
    font-family: sans-serif;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.25s ease-in-out;
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: var(--accent-blue);
    color: var(--text-white);
    text-decoration: none;
}

a[role='button']:hover {
    cursor: pointer;
    background-color: var(--text-white);
    color: var(--site-dark);
}

main {
    padding: 1em;
    height: 100%;
    margin: 0 auto;
}

nav {
    display: block;
    height: 100%;
    width: 256px;
    background-color: var(--site-dark);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.main-container {
    padding-left: 256px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
}

.course-detail {
    position: fixed;
    overflow-y: scroll;
    right: 0;
    top: 0;
    width: 350px;
    padding: 12px;
    border-radius: 5px 0 0 5px;
    height: 100%;
    box-shadow: var(--left-shadow);
    background-color: var(--text-white);
    box-sizing: border-box;
}

.course {
    display: grid;
    gap: 12px;
    grid-template-areas: 'calendar details';
    grid-template-columns: 175px 1fr;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
    transition: all 0.125s ease-in-out;
}

.course-calendar {
    grid-area: calendar;
}

.course:hover {
    box-shadow: var(--hover-shadow);
    cursor: pointer;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    background-color: var(--accent-blue);
    color: var(--text-white);
    border-radius: 5px 0 0 5px;
    width: 100%;
    border: 3px solid var(--accent-blue);
}

.day {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
    transform: scale(0.85, 1.2);
}

.date {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    padding: 0;
}

.course-details {
    display: flex;
    flex-direction: row;
    grid-area: details;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px 15px 20px 0;
}

.state {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.state svg {
    margin-right: 0.6rem;
}

.registered {
    color: var(--site-gray);
}

.attended {
    color: var(--accent-active);
}

.user-meta {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'title action'
        'description description';
    align-content: center;
    align-items: center;
}

.user-meta > h1 {
    grid-area: title;
}

.user-meta > button {
    grid-area: action;
    position: absolute;
    right: 0;
    width: auto;
}

.user-meta > p {
    grid-area: description
}

.document-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-top: 2px solid var(--site-gray);
    border-bottom: 2px solid var(--site-gray);
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

table thead th {
    padding-left: 5px;
}

table tbody tr {
    line-height: 1.5;
}

table tbody tr td {
    padding: 5px;
}

table tr td label {
    display: block;
    position: relative;
}

table tr td label svg {
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
}

table tbody tr td label svg:active {
    border: 2px solid var(--accent-blue);
}

table tbody tr td label input[type="checkbox"] {
    opacity: 0.00001;
    height: 1em;
    position: absolute;
}

table tbody tr td label input[type="checkbox"]:hover {
    cursor: pointer;
}

table tbody tr td label svg .attended {
    fill: var(--site-dark);
}

table tbody tr td label svg .attended__false {
    opacity: 1;
}

table tbody tr td label svg .attended__true {
    opacity: 0;
}

table tbody tr td label svg .attended {
    transition: opacity 0.2s linear;
}

table tbody tr td label input[type="checkbox"]:checked+svg .attended__true {
    opacity: 1;
}

table tbody tr td label input[type="checkbox"]:checked+svg .attended__false {
    opacity: 0;
}

.sidebar {
    display: block;
    height: 100%;
    width: 30%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    
    box-sizing: border-box;
    background-color: #fff;
    padding: 15px;
    overflow: auto;
    z-index: 10;
}

.sidebar-inner {
    padding: 0 0.75rem;
    box-sizing: border-box;
}

.sidebar--right {
    right: 0;
    transition: right 350ms ease-in;
    box-shadow: var(--shadow-left-border);
}

#event--details {
    display: flex;
    flex-direction: column;
}

#event--details 
time, 
#course-size,
#location {
    display: block;
    margin: 0.6rem 0;
}

#option-container {
    display: flex;
    flex-direction: row;
}

#right-sidebar-inner input[type='text'] {
    box-sizing: border-box;
    width: 100%;
    line-height: 1.2;
    padding: 0.25rem;
}

#right-sidebar-inner input[type='radio'] {
    margin: 0 0 0 0.6rem;
    width: auto;
    display: inline-block;
}

.sidebar--right.htmx-added {
    right: -35%;
}

.sidebar--right form label {
    margin: 0.5em 0;
}

.hide {
    right: -35%;
}

hr {
    width: 70%;
}

#result {
    position: relative;
}

#links-list {
    list-style-type: none;
    padding-left: 0;
}

#links-list>li {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

#links-list>li>button:hover {
    cursor: pointer;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    padding: 0.6rem 0;
    border-bottom: 1px solid var(--site-gray);
}

#toast {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    top: 105%;
    right: 1.5rem;
    min-width: 250px;
    margin: 0;
    padding: 0;
    transition: all 350ms;
    z-index: 1000;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: var(--site-dark);
    color: var(--text-white);
}

#toast.show {
    opacity: 1;
    top: 85%;
}

#toast-message {
    padding: 0.75rem 1.25rem;
}

#toast-message, #toast-action {
    margin-block-start: 0;
    margin-block-end: 0;
}

#toast-action {
    background-color: rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    display: block;
    padding: 1.25rem;
}

#toast-action:hover {
    cursor: pointer;
}

.htmx-indicator {
    transition: none;
}

#toast.htmx-request.htmx-indicator {
    top: 85%;
    opacity: 1;
}

#toast.htmx-request.htmx-indicator.error {
    background-color: var(--warn-color);
    border-color: transparent;
    width: auto;
}

.course-data {
    display: block;
}

.course-select {
    margin: 1.2rem 0;
}

#course-data--register input[type="search"] {
    width: 100%;
}

#course-data--register input {
    width: auto;
}

#course-data--register label input[type=checkbox]:checked+span {
    font-weight: 700;
}

#course-data--register label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
}

#course-data--result {
    display: grid;
    grid-template-areas: 'actions actions'
    'registrations stats';
    grid-gap: 1.5rem;
}

#course-data--table {
    grid-area: registrations;
}

#course-data--table td:last-child, th:last-child {
    text-align: center;
}

#course-data--table td:last-child:hover {
    cursor: pointer;
}

#course-data--actions {
    grid-area: actions;
}

#course-data--actions__sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    grid-area: stats;
}

#course-data--actions__sidebar .btn {
    width: 100%;
}

#course-data--actions__sidebar p {
    font-size: 1.2rem;
}

#course-data--actions__sidebar b {
    font-size: 2rem;
}

.stats--item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.6rem;
    padding: 0.6rem
}

#delete {
    background-color: var(--accent-red);
    border-color: var(--accent-red);
    color: var(--text-white);
    transition: all 0.25s ease-in-out;
}

#delete:hover {
    background-color: var(--text-white);
    color: var(--accent-red);
}

/* FORM ELEMENTS */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

fieldset {
    margin: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 20px;
    
    /* Fieldset styles */
    border: 0;
    padding-left: 200px;
    position: relative;
}

legend {
    position: absolute;
    left: 0;
}

label {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

input, 
textarea, 
select {
    display: block;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.2;
    border: 1px solid transparent;
    border-radius: 0;
    border-bottom: 3px solid var(--site-gray);
    transition: all 0.25s ease-in-out;
    
    margin: 0.6rem 0;
    padding: 0.6rem;
    width: 100%;
}

input:focus, textarea:focus {
    outline: 0;
    border: 1px solid var(--accent-blue);
    border-bottom: 3px solid var(--accent-blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#editor--container {
    width: 100%;
}

.details #type,
#location {
    width: 30%;
    flex: 1 0 auto;
    margin: 0 0 1.2rem 0;
}

.new-action-btn {
    color: var(--accent-blue);
}

.new-action-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

#starts,
#ends {
    width: 50%;
}

#result {
    position: relative;
    display: block;
}

#user-search {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    gap: 1.2rem
}

#user-search > select {
    width: auto;
}

#user-search:nth-child(2) {
    flex-grow: 2;
}

#user-data--table {
    margin-top: 0.6rem;
    padding-top: 0.6rem;
    border-top: 2px solid var(--site-gray);
}


@media only screen and (max-width: 767px) {
    .course {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .course-calendar {
        width: 100%;
    }
    
    .course-details {
        padding: 5px;
        display: grid;
        grid-template-areas: 'title''description''status';
    }
    
    .course-details h1 {
        grid-area: title;
        font-size: 24px;
    }
    
    .course-details span {
        grid-area: status;
    }
    
    .course-details p {
        grid-area: description;
    }
    
    .calendar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .day {
        width: auto;
        font-size: 24px;
    }
    
    .date {
        font-size: 32px;
    }
    
    .mobile-icon {
        display: none;
    }
    
    .navbar-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    nav {
        width: 60px;
    }
}

.nav-item {
    display: flex;
    height: 56px;
    align-items: center;
    list-style-type: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    padding-left: 20px;
    color: var(--text-wite);
    border-left: 3px solid;
    border-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.nav-item svg {
    margin-right: 0.6rem;
}

.nav-item:not(.logout):hover {
    background-color: var(--accent-hover);
    border-left: 3px solid;
    border-color: var(--accent-active);
}

.nav-item a {
    text-decoration: none;
    color: var(--text-white);
    flex: 1;
    display: inline-flex;
    height: 100%;
    align-items: center;
}


.logout {
    background-color: var(--accent-red);
    position: absolute;
    bottom: 0;
    width: 256px;
    font-weight: 700;
}

.active {
    background-color: var(--accent-hover);
    border-left: 3px solid;
    border-color: var(--accent-active);
}

.mobile-icon {
    display: none;
}

@media only screen and (max-width: 767px) {
    .mobile-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 0;
        padding: 0;
        width: 100%;
    }
    
    .active {
        border: none;
    }
    
    .logout {
        width: 56px;
    }
    
    .mobile-icon svg {
        height: 32px;
        width: 32px;
        margin-right: 0;
    }
    
    .nav-item {
        display: none;
    }
}