@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('/fonts/Roboto-Italic.ttf') format('truetype');
}

:root {
    /* Colors */
    --site-gray: #c5c6c7;
    --accent-blue: #0098fa;
    --accent-red: #e9164f;
    --accent-green: #32c192;
    --site-dark: #1f2833;
    --text-white: #f0ecec;
    
    /* shadow */
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --active-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --left-shadow: rgba(0, 0, 0, 0.1) -20px 0 25px -5px,
    rgba(0, 0, 0, 0.04) -10px 0 10px -5px;
    /* interaction */
    --accent-active: #45a29e;
    --accent-hover: #2d3d50;
}

body {
    color: #333;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Typography */
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto';
}

b,
strong {
    font-family: 'Roboto Bold';
}

i,
em {
    font-family: 'Roboto Italic';
}

a[role='button'] {
    border: 1px solid var(--accent-blue);
    font-family: sans-serif;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.25s ease-in-out;
    display: block;
    width: 25%;
    text-align: center;
    margin: 15px auto;
    font-weight: bold;
    background-color: var(--accent-blue);
    color: var(--text-white);
    text-decoration: none;
}

a[role='button']:hover {
    cursor: pointer;
    background-color: var(--text-white);
    color: var(--accent-blue);
    /* border-color: var(--accent-active); */
}

main {
    padding: 1em;
    height: 100%;
    margin: 0 auto;
}

nav {
    display: block;
    height: 100%;
    width: 256px;
    background-color: var(--site-dark);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.main-container {
    padding-left: 256px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
}

.course-detail {
    position: fixed;
    overflow-y: scroll;
    right: 0;
    top: 0;
    width: 350px;
    padding: 12px;
    border-radius: 5px 0 0 5px;
    height: 100%;
    box-shadow: var(--left-shadow);
    background-color: var(--text-white);
    box-sizing: border-box;
}

.course {
    display: grid;
    gap: 12px;
    grid-template-areas: 'calendar details';
    grid-template-columns: 175px 1fr;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
    transition: all 0.125s ease-in-out;
}

.course-calendar {
    grid-area: calendar;
}

.course:hover {
    box-shadow: var(--active-shadow);
    cursor: pointer;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    background-color: var(--accent-blue);
    color: var(--text-white);
    border-radius: 5px 0 0 5px;
    width: 100%;
    border: 3px solid var(--accent-blue);
}

.day {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
    transform: scale(0.85, 1.2);
}

.date {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    padding: 0;
}

.course-details {
    display: flex;
    flex-direction: row;
    grid-area: details;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px 15px 20px 0;
}

.state {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.registered {
    color: var(--site-gray);
}

.attended {
    color: var(--accent-active);
}

.document-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-top: 2px solid var(--site-gray);
    border-bottom: 2px solid var(--site-gray);
}

.document-meta a {
    padding: 1em;
    display: block;
    border: 2px solid var(--accent-blue);
    border-radius: 5px;
    transition: 0.25s all ease-in-out;
}

.document-meta a:hover {
    background-color: var(--accent-blue);
    color: var(--text-white);
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

table thead th {
    padding-left: 5px;
}

table tbody tr {
    line-height: 1.5;
}

table tbody tr td {
    padding: 5px;
}


@media only screen and (max-width: 767px) {
    .course {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .course-calendar {
        width: 100%;
    }
    
    .course-details {
        padding: 5px;
        display: grid;
        grid-template-areas: 'title''description''status';
    }
    
    .course-details h1 {
        grid-area: title;
        font-size: 24px;
    }
    
    .course-details span {
        grid-area: status;
    }
    
    .course-details p {
        grid-area: description;
    }
    
    .calendar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .day {
        width: auto;
        font-size: 24px;
    }
    
    .date {
        font-size: 32px;
    }
    
    .mobile-icon {
        display: none;
    }
    
    .navbar-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    nav {
        width: 60px;
    }
}

.nav-item {
    display: flex;
    height: 56px;
    align-items: center;
    list-style-type: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    padding-left: 20px;
    color: var(--text-wite);
    border-left: 3px solid;
    border-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.nav-item:not(.logout):hover {
    background-color: var(--accent-hover);
    border-left: 3px solid;
    border-color: var(--accent-active);
}

.nav-item a {
    text-decoration: none;
    color: var(--text-white);
    flex: 1;
    display: inline-flex;
    height: 100%;
    align-items: center;
}


.logout {
    background-color: var(--accent-red);
    position: absolute;
    bottom: 0;
    width: 256px;
    font-weight: 700;
}

.active {
    background-color: var(--accent-hover);
    border-left: 3px solid;
    border-color: var(--accent-active);
}

.mobile-icon {
    display: none;
}

svg {
    vertical-align: middle;
    margin-right: 12px;
}

@media only screen and (max-width: 767px) {
    .mobile-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 0;
        padding: 0;
        width: 100%;
    }
    
    .active {
        border: none;
    }
    
    .logout {
        width: 56px;
    }
    
    .mobile-icon svg {
        height: 32px;
        width: 32px;
        margin-right: 0;
    }
    
    .nav-item {
        display: none;
    }
}