<section class="course-data">
    {{ render_partial('shared/form-fields/search.html', placeholder='Search by title...', target='
    <tr />
    ', container='#course-list--result')}}
    <div class="course-list">
            <table id="course-list--table">
                <thead>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Registrations</th>
                </thead>
                <tbody id="course-list--result">
                    {% if upcoming or past %} 
                        {% if upcoming %}
                        <tr>
                            <td colspan="3"><b>Upcoming</b></td></tr>
                            {% for event in upcoming %}
                                <tr
                                    tabindex="0"
                                    hx-get="/admin/events?event_id={{event.id}}"
                                    name="event_id"
                                    hx-trigger="click"
                                    hx-target=".main-container"
                                    hx-swap="innerHTML"
                                    hx-push-url="true"
                                    hx-indicator="#toast"
                                >
                                    <td>{{event.starts}}</td>
                                    <td>{{event.title}}</td>
                                        <td>
                                            {{event.reg_length}}
                                        </td>
                                </tr> 
                            {% endfor %}
                        {% endif %}
                        {% if past %}
                            <tr>
                                <td colspan="3"><b>Past</b></td>
                            </tr>
                            {% for event in past %}
                            <tr
                                tabindex="0"
                                hx-get="/admin/events?event_id={{event.id}}"
                                name="event_id"
                                hx-trigger="click"
                                hx-target=".main-container"
                                hx-swap="innerHTML"
                                hx-push-url="true"
                                hx-indicator="#toast"
                            >
                                <td>{{event.starts}}</td>
                                <td>{{event.title}}</td>
                                    <td>
                                        {{event.reg_length}}
                                    </td>
                            </tr> 
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div id="course-data--result" class="hide--bottom"></div> -->
</section>
