<section class="course-data">
    {{ render_partial('shared/form-fields/search.html', placeholder='Search by title...', target='
    <tr />
    ', container='#course-list--result')}}
    <div class="course-list">
            <table id="course-list--table">
                <thead>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Registrations</th>
                </thead>
                <tbody id="course-list--result">
                    {% if events %} 
                        {% for event in events %}
                        <tr
                            tabindex="0"
                            hx-get="/admin/events?event_id={{event.id}}"
                            name="event_id"
                            hx-trigger="click"
                            hx-target=".main-container"
                            hx-swap="innerHTML"
                            hx-push-url="true"
                            hx-indicator="#toast"
                        >
                            <td>{{event.starts}}</td>
                            <td>{{event.title}}</td>
                                <td>
                                    {{event.registrations|length}}
                                </td>
                        </tr> 
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div id="course-data--result" class="hide--bottom"></div> -->
</section>
