<section class="course-data">
    <div class="course-select">
        <select
            tabindex="0"
            hx-get="/admin/events"
            name="event_id"
            hx-trigger="change"
            hx-target="#course-data--result"
            hx-swap="innerHTML"
        >
            <option value="" readonly="true" hidden="true" selected>
                Select an event
            </option>
            {% for event in events %}
            <!-- TODO: Format the event.starts field before sending -->
            <option
                value="{{event.id}}"
                _="
                    on load set :date to formatDate('dateOnly', {{event.starts}})
                    then put (`${:date} - {{event.title}}`) as a String into my innerHTML
                "
            ></option>
            {% endfor %}
        </select>
    </div>
    <div id="course-data--result"></div>
</section>
