<section id="course-data--actions">
    <button
        tabindex="0"
        class="btn form-toggle"
        hx-get="/admin/events/{{event.id}}/edit"
        hx-target="main"
        hx-swap="beforeend"
    >
        Edit Details
    </button>
    <button
        tabindex="0"
        class="btn form-toggle"
        hx-get="/admin/events/{{event.id}}/presenters/edit"
        hx-target="main"
        hx-swap="beforeend"
    >
        Edit Presenters
    </button>
    <button
        tabindex="0"
        class="btn form-toggle"
        hx-get="/admin/events/{{event.id}}/links/edit"
        hx-target="main"
        hx-swap="beforeend"
    >
        Edit Links
    </button>
    <button tabindex="0" class="btn form-toggle">View Event Logs</button>
    <button
        tabindex="0"
        class="btn form-toggle"
        hx-put="/admin/events/{{event.id}}"
        hx-vals='{"active": "{{not event.active}}"}'
        hx-ext="json-enc"
        hx-indicator="#toast"
        hx-target="#course-data--result"
        hx-swap="innerHTML"
    >
        {% if event.active %}Cancel Event{% else %}Activate Event{% endif %}
    </button>
    <button
        class="btn form-toggle"
        tabindex="0"
        id="delete"
        hx-get="/admin/events/{{event.id}}/delete"
        hx-target="main"
        hx-swap="beforeend"
    >
        Delete Event
    </button>
    {% if event.accommodations|length > 0 %}
    <div id="notes">
        <h2>Accommodations requested:</h2>
        {% for item in event.accommodations %}
        <p>{{item.note}}</p>
        {% endfor %}
    </div>
    {% endif %}
</section>
<section id="course-data--table">
    {{ render_partial('admin/partials/registration-table.html',
    registrations=event.registrations, event_id=event.id)}}
</section>
<section id="course-data--stats">
    {% for stat in data %} {{render_partial('admin/partials/event-stats.html',
    stat=stat)}} {% endfor %}
</section>
