<section class="actions">
    <button
        tabindex="0"
        class="btn form-toggle"
        hx-get="/admin/events/{{event.id}}/edit"
        hx-target="main"
        hx-swap="beforeend"
    >
        Edit Details
    </button>
    <button
        tabindex="0"
        class="btn form-toggle"
        hx-get="/admin/events/{{event.id}}/presenters/edit"
        hx-target="main"
        hx-swap="beforeend"
    >
        Edit Presenters
    </button>
    <button
        tabindex="0"
        class="btn form-toggle"
        hx-get="/admin/events/{{event.id}}/links/edit"
        hx-target="main"
        hx-swap="beforeend"
    >
        Edit Links
    </button>
    <button tabindex="0" class="btn form-toggle">View Event Logs</button>
    <button tabindex="0" class="btn form-toggle">
        {% if event.active %}Cancel Event{% else %}Activate Event{% endif %}
    </button>
    <button class="btn form-toggle" tabindex="0" id="delete">
        Delete Event
    </button>
    {% if event.accommodations|length > 0 %}
    <div id="notes">
        <h2>Accommodations requested:</h2>
        {% for item in event.accommodations %}
        <p>{{item.note}}</p>
        {% endfor %}
    </div>
    {% endif %}
</section>
{{ render_partial('admin/partials/registration-table.html',
registrations=event.registrations, icons=icons)}}
