<form
    hx-post="/courses"
    hx-trigger="request"
    hx-swap="this"
    hx-ext="new-event"
    hx-indicator="#toast"
>
    <h1>New Event</h1>
        <p>
            This form will create and publish a new event. You can edit the
            event later in the <b>Presenter dashboard</b> if you need to make a change.
        </p>
            <fieldset class="basics">
                <legend><h1>Basics</h1></legend>
                <label
                    ><b>Event title</b>
                    <input
                        autocomplete="off"
                        name="title"
                        value=""
                        placeholder="Event title"
                        required="true"
                        tabindex="0"
                    /></label
                >
                <div id="editor--container">
                    <div id="editor"></div>
                </div>
            </fieldset>
            <fieldset class="details">
                <legend><h1>Event Details</h1></legend>
                <label id="type"
                    ><b>Event type</b>
                    <select
                        id="coursetype_id"
                        tabindex="0"
                        name="coursetype_id"
                    >
                        {% for type in course_types %}
                            <option value={{type.id}}>{{type.name}}</option>
                        {% endfor %}
                    </select>
                    <!-- TODO: Add button to insert new event type -->
                    <button
                        hx-get="/courses/types/create"
                        hx-target="main"
                        hx-swap="beforeend"
                        hx-ext="ignore:new-event"
                        tabindex="0"
                        id="btn--new-event"
                        class="btn btn--secondary"
                        >
                            Add new event type
                    </button
                    >
                </label>

                <label id="location"
                    ><b>Event Location</b>
                    <select
                        id="location_id"
                        tabindex="0"
                        value=""
                        name="location_id"
                    >
                        {% for location in locations %}
                            <option value={{location.id}}
                                >{{location.name}}</option
                            >
                        {% endfor %}
                    </select>
                    <!-- TODO: Add button to insert new location -->
                    <button
                        hx-get="/locations/create"
                        hx-target="main"
                        hx-swap="beforeend"
                        hx-ext="ignore:new-event"
                        tabindex="0"
                        id="btn--new-location"
                        class="btn btn--secondary"
                        >
                            Add new location
                    </button>
                </label>
                <label id="starts"
                    ><b>Starts</b>
                    <input
                        tabindex="0"
                        name="starts"
                        type="datetime-local"
                        value=""
                        required="true"
                    /></label
                >
                <label id="ends"
                    ><b>Ends</b>
                    <input
                        tabindex="0"
                        name="ends"
                        type="datetime-local"
                        value=""
                        required="true"
                    /></label
                >
                <label
                    ><b>Attendance limit</b>
                    <input
                        tabindex="0"
                        name="course_size"
                        value=""
                        type="number"
                        required="true"
                    /></label
                >
            </fieldset>
            <button 
                class="btn btn--primary" 
                tabindex="0" 
                type="submit"
                _="on click trigger request add @disabled
                    showToast('Creating the event...') end
                    on htmx:afterSwap trigger closeSidebar end
                "
            >
                Submit
            </button>
        </form>
    </section>
</form>