<div
    hx-trigger="request"
    hx-delete="/courses/{{event.id}}"
    hx-swap="none"
    _="on htmx:afterSwap from .main-container trigger closeSidebar end"
>
    <h2>DANGER</h2>
    <p>
        You are about to permanently delete <b>{{event.title}}</b>. If you
        proceed, you will lose:
    </p>
    <ul>
        <li>Event registrations</li>
        <li>Event PGPs</li>
    </ul>
    <p>Are you <b>sure</b> you want to delete the event?</p>
    <div class="btn-container--flex">
        <button
            class="btn btn--cancel"
            _="
                on click trigger request add @disabled
                then
                    showToast('Deleting {{event.title}}...') end
            "
        >
            Yes, delete
        </button>
        <button
            class="btn btn--secondary"
            _="
                on click trigger closeSidebar
                then
                call showToast('Probably a good idea.', 5000)
            "
        >
            No, nevermind
        </button>
    </div>
</div>
