<p>Editing presenters for <b>{{event.title}}</b></p>
<h2>Current presenters</h2>

<ul id="links-list">
    {% for user in event.presenters %}
    {{render_partial('shared/partials/event-presenter.html', user=user,
    event_id=event.id)}} {% endfor %}
</ul>

<form
    hx-trigger="request"
    hx-post="/courses/{{event.id}}/presenters"
    hx-target="#links-list"
    hx-swap="beforeend"
    hx-indicator="#toast"
    _="on htmx:afterSwap from #links-list trigger closeSidebar"
>
    <!-- TODO: Make this a search form -->
    {{render_partial('shared/form-fields/select.html', options=data,
    name='user_id' )}}
    <button
        class="btn btn--primary"
        _="on click trigger request add @disabled end"
    >
        Add presenter
    </button>
</form>
