<p>Editing links for <b>{{event.title}}</b></p>
<h2>Current links</h2>

<ul id="links-list">
    {% for link in event.links %}
    {{render_partial('shared/partials/event-link.html', link=link,
    event_id=event.id)}} {% endfor %}
</ul>

<form
    hx-trigger="request"
    hx-post="/courses/{{event.id}}/links"
    hx-indicator="#toast"
    hx-target="#links-list"
    hx-swap="beforeend"
    _="on htmx:afterSwap trigger closeSidebar end"
>
    {{render_partial('shared/form-fields/select.html', options=data,
    name='courselinktype_id' )}}
    <label>
        Link text
        <input type="text" name="name" value="" placeholder="Enter link text" />
    </label>
    <label>
        Link URL
        <input
            type="url"
            name="uri"
            value=""
            placeholder="https://example.com"
        />
    </label>
    <button
        class="btn btn--primary"
        type="submit"
        _="on click trigger request add @disabled"
    >
        Add link
    </button>
</form>
